<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://arkitektur-onboarding-snorre.documents.azure.com:443/" />
    <add key="PrimaryKey" value="JRqX4oDOLeWdehgMQbccPPQuPXpwqMEvPt2p15qxhtR7WyJ9QgbWfwZNevhfLTY1EwQSQHFQjw8lACDbAjmEAw==" />
  </appSettings>
</configuration>